<?xml version="1.0" encoding="utf-8"?>
<sample title="Widget Manipulators">
	<desc>
		<brief>This sample demonstrates the use of manipulators. You can lock axes for transformations, and apply transformation in local or world coordinates.</brief>
	</desc>
	<controls>
		<![CDATA[
		<b>LMB</b> - Select object.<br/>
		<b>W</b> - Move object mode.<br/>
		<b>E</b> - Rotate object mode.<br/>
		<b>R</b> - Scale object mode.<br/>
		<b>U</b>/<b>Esc</b> - Deselect object.<br/>
		<b>F</b> - Focus on selected object.
		]]>
	</controls>
	<tags>
		<tag>Interface (GUI)</tag>
		<tag>Widgets</tag>
	</tags>
</sample>