<?xml version="1.0" encoding="utf-8"?>
<sample title="Global Engine Parameters Animation">
	<sdk_desc>Animating global Engine parameters using <i>singleton animation modifiers</i>.</sdk_desc>
	<desc>
		<brief>
			<para>This sample demonstrates animating global Engine parameters using <strong>singleton animation modifiers</strong>. It shows real-time animation of physics gravity and render background color through dedicated animation tracks and playbacks.</para>
			<para>Animation modifiers give you programmatic control over scene effects, weather changes, time transitions, and the animation of physical properties, resulting in more engaging and interactive scenes.</para>
		</brief>
			<notice>
				<para>All of the animation tracks, playbacks and objects are managed by the animation system and have the &quot;Engine lifetime&quot;, i.e. they exist from the point they're loaded or created to when the Engine shutdowns, and therefore are preserved between different worlds.</para>
				<para>You have to stop active playbacks when switching to another world, if you don't want them continue playing there.</para>
			</notice>
	</desc>
	<tags>
		<tag>Animation</tag>
		<tag>Basic Recipes</tag>
	</tags>
</sample>