<?xml version="1.0" encoding="utf-8"?>
<sample title="Navigation Sectors">
	<desc>
		<brief>This sample demonstrates how to configure pathfinding between two points with obstacles using <i>Navigation Sectors</i>.</brief>
	</desc>
	<controls>
		<![CDATA[
		<p>You can move the path endpoints and the obstacles in the scene with the <b>widget manipulator</b> (right-click on the object you want to move for the manipulator to appear).</p>
		]]>
	</controls>
	<tags>
		<tag>Navigation &amp; Patfinding</tag>
	</tags>
</sample>