<?xml version="1.0" encoding="utf-8"?>
<sample title="Non-Physical Tracks">
	<sdk_desc>Simulating vehicle tracks with non-physical track plates, wheels, and joints (JointWheel).</sdk_desc>
	<desc>
		<brief>This sample demonstrates how to imitate the vehicle tracks using non-physical (i.e. without body assigned) track plates, wheels, and joints (<strong>JointWheel</strong>). It illustrates how non-physical tracks interact with various obstacles.</brief>
	</desc>
	<controls>
		<![CDATA[
		<p><b>WASD</b> to control the vehicle movement.</p>
		<p><b>Mouse Wheel</b> to zoom in/out.</p>
		]]>
	</controls>
	<tags>
		<tag>Complex Solutions</tag>
		<tag>Vehicle</tag>
	</tags>
</sample>