<?xml version="1.0" encoding="utf-8"?>
<sample title="Joystick Input">
	<sdk_desc>This sample demonstrates how to add advanced joystick input handling, supporting multiple controllers with real-time axis/button monitoring and force feedback effects.</sdk_desc>
	<desc>
		<brief>This sample demonstrates how to add advanced <strong nt="1"><link to="inputjoystick_class">joystick</link></strong> input handling, supporting multiple controllers with real-time axis/button monitoring and force feedback effects in UNIGINE. It features dynamic UI for testing 10+ force feedback types (springs, vibrations, waves) and automatically handles device connection/disconnection events. Ideal for racing/flight simulators or any project requiring precise controller input with haptic feedback.</brief>
	</desc>
	<tags>
		<tag>Input &amp; Controls</tag>
	</tags>
</sample>